.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;

    /* 배경 이미지 */
  background-image: url('../assets/LoginBackgroundImage.png'); /* 이미지 경로 */
  background-size: cover;       /* 화면 전체 채움 */
  background-position: center;  /* 가운데 정렬 */
  background-repeat: no-repeat; /* 반복하지 않음 */
}

.login-form {
  width: 320px;
  padding: 24px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
}

.login-input {
  padding: 10px;
  margin-bottom: 12px;
  font-size: 14px;
}

.login-btn {
  padding: 10px;
  background-color: #1976d2;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.login-btn:hover {
  background-color: #155fa0;
}

.forgot-btn {
  background: none;
  border: none;
  color: #1976d2;
  cursor: pointer;
  font-size: 13px;
}

.forgot-btn:hover {
  text-decoration: underline;
}

.signup-btn {
  background: none;
  border: none;
  color: #1976d2;
  cursor: pointer;
  font-size: 15px;
}

.signup-btn:hover {
  text-decoration: underline;
}


