.signup-container {
  display: flex;
  justify-content: flex-start;
  padding-left: 100px;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f5f7fa;

      /* 배경 이미지 */
  background-image: url('../assets/LoginBackgroundImage.png'); /* 이미지 경로 */
  background-size: cover;       /* 화면 전체 채움 */
  background-position: center;  /* 가운데 정렬 */
  background-repeat: no-repeat; /* 반복하지 않음 */
}

.signup-form {
  width: 320px;
  padding: 24px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.signup-title {
  text-align: center;
  margin-bottom: 20px;
}

.signup-input {
  padding: 10px;
  margin-bottom: 12px;
  font-size: 14px;
}

.signup-btn {
  padding: none;
  color: #1976d2;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.signup-btn:hover {
  background-color: #155fa0;
}

.login-link {
  background: none;
  border: none;
  color: #1976d2;
  cursor: pointer;
  font-size: 13px;
}

.login-link:hover {
  text-decoration: underline;
}
