.hero {
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: 80px;
  color: white;
}

.hero-overlay h1 {
  font-size: 64px;
  margin: 0 0 10px;
}

.hero-overlay p {
  font-size: 20px;
}
